<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:arg name="robot_name" default="panda"/>
  <xacro:arg name="load_gazebo" default="false"/>
  <xacro:arg name="use_gazebo_control" default="false"/>
  <xacro:arg name="connected_to" default=""/> <!-- If using a different frame with ${connected_to} param, make sure 'world' frame exists in the TF tree -->
  
  <xacro:include filename="$(find franka_panda_description)/robots/panda_arm.xacro"/>

  <!-- <xacro:include filename="$(find franka_panda_description)/robots/hand.xacro"/> -->
  <!-- <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8"/> -->

  <xacro:include filename="$(find franka_panda_description)/robots/tray.xacro"/>
  <!-- <xacro:tray ns="panda" rpy="-1.549 -0.002 0.037" xyz="-0.033 -0.016 0.284" connected_to="panda_hand"/> -->
  <!-- <xacro:tray ns="panda" rpy="-1.600 -0.030 0.049" xyz="-0.035 0.014 0.230" connected_to="panda_link8"/> -->
  <!-- <xacro:tray ns="panda" rpy="-1.613 -0.030 -0.751" xyz="-0.031 0.026 0.229" connected_to="panda_link8"/> -->
  <xacro:tray ns="panda" rpy="-1.585 -0.030 -0.755" xyz="-0.020 0.020 0.231" connected_to="panda_link8"/>

  <xacro:if value="$(arg load_gazebo)">  
    <xacro:include filename="$(find franka_panda_description)/robots/panda.gazebo.xacro"/>
    <xacro:include filename="$(find franka_panda_description)/robots/panda.transmission.xacro"/>
    
    <xacro:panda_arm in_gazebo="true"  connected_to="$(arg connected_to)"/>
    <xacro:panda_gazebo robot_name="$(arg robot_name)" load_gripper="$(arg load_gripper)"/>
    <xacro:panda_transmission robot_name="$(arg robot_name)" load_gripper="$(arg load_gripper)" use_gazebo_control="$(arg use_gazebo_control)"/>
  </xacro:if>

  <xacro:unless value="$(arg load_gazebo)">  
    <xacro:panda_arm />
  </xacro:unless>

</robot>
